body{
	background-image: url("option2.jpg");
	text-align: center;
}

img {
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
	font-size: 30px;
	font-weight: bold;
}
/* unvisited link */
a:link {
    color: blue;
}
/* visited link */
a:visited {
    color: purple;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: black;
}

#header{
	text-align: center;
	background: #3172ae;
	color: #FFFFFF;
	font-size: 85px;
	margin-top: 0;
}

#footer{
	text-align: center;
	background: #3172ae;
	color: #FFFFFF;
	font-size: 25px;
	margin-top: 0px;
}

.bio{
	-webkit-margin-start: 60px;
    	-webkit-margin-end: 60px;
}

.subheader{
	font-weight: bold;
	text-decoration: underline;
}

.date{
	font-style: italic;
}
